# /node_modules/* and /bower_components/* in the project root are ignored by default

# Ignore built files except build/index.js
coverage/*
dist/*
test/RPC/*
common/vitejs.ts
src/**/dist/*
src/**/tsconfig.json
src/**/package.json
src/vitejs/dist
src/vitejs/distSrc
src/vitejs/es5
distSrc