# /node_modules/* and /bower_components/* in the project root are ignored by default

# Ignore built files except build/index.js
static/*
coverage/*
libs/nacl_blake2b.js
ViteJS/*
ottoDist/*
otto/fix_modules