{
    "extension": [
        ".js",
        ".ts"
    ],
    "include": [
        "src/*"
    ],
    "exclude": [
        "*.d.ts",
        "src/*/dist/**",
        "src/*/es5/**"
    ],
    "reporter": [
        "html",
        "text"
    ],
    "sourceMap": false,
    "instrument": true
}